{% extends 'layout.html' %}

{% block content %}
	Hotels:
		<select>
			{% for hotel in hotels %}
				<option value = '{{hotel.name}}'>{{ hotel.name }}</option>
			{% endfor %}
		</select>
	Activities:
		<select>
			{% for activity in activities %}
				<option value = '{{activity.name}}'>{{ activity.name }}</option>
			{% endfor %}
		</select>
	Restaurants:
		<select>
			{% for restaurant in restaurants %}
				<option value = '{{restaurant.name}}'>{{ restaurant.name }}</option>
			{% endfor %}
		</select>
{% endblock %}